.firkant {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(160, 200, 250);

}

#cpu {
    left: 500px;
    top: 200px;
    width: 350px;
    height: 350px;
    background-color: bisque;
    border: solid black 2px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}

#CPU {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 5px;
}

#control {
    left: 120px;
    top: 30px;
    width: 115px;
    height: 75px;
    border: solid black 1px;
}

#controlunit {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 25px;
}

#processor {

    left: 75px;
    top: 130px;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 138);
    border: solid black 2px;
    border-radius: 10px;
}

#prosessor {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 5px;
}

#registers {
    left: 45px;
    top: 30px;
    width: 115px;
    height: 55px;
    border: solid black 1px;
}

#register {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 17px;
}

#alu {
    left: 45px;
    top: 100px;
    width: 115px;
    height: 85px;
    border: solid black 1px;
}

#logic {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 25px;
}

#memory {
    left: 625px;
    top: 565px;
    width: 115px;
    height: 75px;
    border: solid black 1px;
}

#mainmemory {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 30px;
}

#input {
    left: 400px;
    top: 450px;
    width: 85px;
    height: 55px;
    border: solid black 1px;
}

#inputtekst {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 20px;
}

#output {

    left: 870px;
    top: 450px;
    width: 85px;
    height: 55px;
    border: solid black 1px;
}

#outputtekst {
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 20px;
}

.firkant[data-info]:hover::after
 {
    z-index:200;
    white-space: pre-wrap;
    padding: 10px;
    content: attr(data-info);
    position: absolute;
    right: -200px;
    top:20px;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border: solid black 2px;
    box-shadow: 0 0 6px black;
    border-radius: 12px;
}

.firkant[data-more]:hover::after {
    background-color: lightseagreen;
    color: white;
}

.pil {
    position: absolute; 
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
}

.oh {
    border-top: solid 2px red;
    border-right: solid 2px red;
}

.ov {
    border-top: solid 2px red;
    border-left: solid 2px red;
}

div.pil:nth-of-type(1) {
    left: 740px;
    top: 250px;
    width: 170px;
    height: 198px;
}

div.pil:nth-of-type(2) {
    left: 445px;
    top: 250px;
    width: 175px;
    height: 198px;
}

.firkant.selected {
    box-shadow: 3px 3px 3px black, inset 0 0 6px gold;
}





