body {
    background-color: rgb(194, 194, 194);
}

header {
    position: relative;
    background-color: gray;
    padding: 16px 14px;
    margin: 0;
}

article {
    margin: 2em;
}

article > h1 {
    color: rgb(255, 113, 113);
}