body {
    background-color: rgb(194, 194, 194);
}

header h1 {
    position: relative;
    background-color: gray;
    padding: 16px 14px;
    margin: -10px;
}

article {
    margin: 2em;
}

div img {
    width: 50%;
    height: 50%;
}

#tekst {
    width: 60vh;
}